.question_badge{
    position: absolute;
    left:0;
    top:0;
    background: linear-gradient(90deg,#3895D3,#0b75c9);
}

.custom-header{
    border-radius: 5px;
    z-index: 3;
    color:white;
    margin-top: -20px;
    padding: 15px;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
    background: linear-gradient(90deg,#3895D3,#0b75c9);
}
.custom-card{
    box-shadow: 1px 2px 2px 0px grey, 2px 4px 1px -5px darkgray;
    border-radius: 8px;

}
.stack-1{
    transform: translate(0,10px);
    z-index: 100;
}
.stack-2{
    z-index: 50;
    opacity: 0.75;
    transform: translate(0,-100px);
}
.stack-3{
    z-index: 25;
    opacity: 0.5;
    transform: translate(0,-210px);
}
input[type="datetime-local"]:before{
    color: black;
    content: attr(placeholder) " : ";
}

.quiz-creds{
    box-shadow: 2px 2px 7px gray;
    background: linear-gradient(120deg, #724bd9,#1d2124);
    transform: translate(-5px,5px);
    width: 102%;
    display: none;
}
.quiz-card:hover .quiz-creds{
    animation: slide-down 0.2s linear;
    display: block;
}

.chart{
    width: 100%;
    height: 100%;
    min-height: 100px;
    z-index: 5000;


}
@keyframes slide-down {
    0%{transform: translate(-5px,0px)}
    100%{transform: translate(-5px,5px)}
}

